In [2]:
seconds_in_10years = 10 * 365 * 24 * 60 * 60
print(seconds_in_10years)

315360000

In [3]:
import math

In [6]:
myrad = math.radians((270-20)/3)
print(myrad)

1.454441043328608

In [11]:
한글 = 1231
한글

1231

In [14]:
celcius = 55
fahrenheit = ((celcius*9)/5)+32
fahrenheit
print( 'The temperature is {} {} degrees Fahrenheit'.format(fahrenheit, celcius) )

The temperature is 131.0 55 degrees Fahrenheit

In [45]:
letters = 'kkpython'
letters[2] = 'c'

TypeError: 'str' object does not support item assignment

In [33]:
letters = 'abcdefghijklmnopqrstuvwxyz'
letters[-19:-1]

'hijklmnopqrstuvwxy'

In [32]:
weekdays = ['mon','tue','wed','thur','fri','sat','sun']
weekdays[0]

'mon'

In [42]:
small_birds = ['hummingbirt','finch']
extinct_birds = ['dodo','passenger pigeon','norwegian blue']
carol_birds = [3, 'french hens',2,'turtle~~']
all_birds = [small_birds, extinct_birds, 'macaw', carol_birds]
all_birds

[['hummingbirt', 'finch'],
 ['dodo', 'passenger pigeon', 'norwegian blue'],
 'macaw',
 [3, 'french hens', 2, 'turtle~~']]

In [43]:
all_birds[2] = 333
all_birds

[['hummingbirt', 'finch'],
 ['dodo', 'passenger pigeon', 'norwegian blue'],
 333,
 [3, 'french hens', 2, 'turtle~~']]

In [66]:
marxes = [1, 3 , 5]
others = '12312','gege'
marxes.extend(others)

In [67]:
marxes

[1, 3, 5, '12312', 'gege']

In [68]:
marxes.insert(5,'blabla')

In [69]:
marxes

[1, 3, 5, '12312', 'gege', 'blabla']

In [70]:
del marxes[2]

In [72]:
marxes.remove('gege')

In [73]:
marxes

[1, 3, '12312', 'blabla']

In [118]:
join = '저는 * 공백이 * 싫습니다'

In [119]:
join = join.split(' *')

In [120]:
join

['저는', ' 공백이', ' 싫습니다']

In [121]:
len(join)

3

In [133]:
marxes

[1, 3, '12312', 'hhh']

In [134]:
a = marxes.copy()

In [135]:
a

[1, 3, '12312', 'hhh']

In [136]:
a[2] = 'a'

In [137]:
a

[1, 3, 'a', 'hhh']

In [138]:
marxes

[1, 3, '12312', 'hhh']

In [139]:
b = marxes

In [140]:
b

[1, 3, '12312', 'hhh']

In [141]:
b[2] = 'b'

In [142]:
b

[1, 3, 'b', 'hhh']

In [143]:
marxes

[1, 3, 'b', 'hhh']

In [147]:
max_tuple = '14학','15학','16학'

In [145]:
aa, bb, cc = max_tuple

In [153]:
aa = max_tuple[0]
bb = max_tuple[1]
cc = max_tuple[2]
aaa, bbb, ccc = max_tuple

In [150]:
max_tuple[0]

'14학'

In [154]:
a = ['surprise',2,3]

In [155]:
aa, bb ,cc = a

In [156]:
aa

'surprise'

In [157]:
bb

2

In [158]:
cc

3

In [163]:
tel = {'start':'출발','end':'끝'}

In [167]:
tel['school'] = '학교'

In [171]:
tel['start']

'출발'

In [178]:
a = " \"We should be united and shouldn't fight\", she said " # \ 기호 출력
print ( a )

 "We should be united and shouldn't fight", she said

In [189]:
a = {1,2,3,4,5,6}
b = {5,6,7,8,9}

set = a.union(b) - a.intersection(b)

In [190]:
set

{1, 2, 3, 4, 7, 8, 9}

In [200]:
sum_list = []

In [201]:
count = 1
while count <= 5:
    print(count)
    count += 1

1
2
3
4
5

In [202]:
count

6

In [204]:
count  = 1
while True:
    print( count ) #9까지 출력
    
    count += 1 # 1더해서 10됨
    if count >= 10: # True반환 -> break 꺼짐
        break

1
2
3
4
5
6
7
8
9

In [205]:
count

10

In [209]:
while True:
    stuff = input('그만 두실거면  Q 누르세요 : ')
    if stuff == 'q':
        break
    print( stuff.capitalize() )

그만 두실거면  Q 누르세요 : ㅗ
ㅗ
그만 두실거면  Q 누르세요 : h
H
그만 두실거면  Q 누르세요 : a
A
그만 두실거면  Q 누르세요 : b
B
그만 두실거면  Q 누르세요 : y
Y
그만 두실거면  Q 누르세요 : e
E
그만 두실거면  Q 누르세요 : ad
Ad
그만 두실거면  Q 누르세요 : q

In [213]:
number = '19'

In [215]:
int(number)

19

In [214]:
number

'19'

In [220]:
value = input('')

q

In [221]:
value

'q'

In [222]:
int(value)

ValueError: invalid literal for int() with base 10: 'q'

In [223]:
while True:
    value = input('integer, please [q to quit] : ')
    if value == 'q':
        break
    number = int(value)
    if number % 2 == 0:
        continue
    print (number, 'squared is', number**2)

integer, please [q to quit] : 5
5 squared is 25
integer, please [q to quit] : 4
integer, please [q to quit] : 7
7 squared is 49
integer, please [q to quit] : q

In [228]:
for x in range(3):
    print(x)

0
1
2

In [229]:
a = ['marry','had','little','lamb']
for i in a:
    print(i)

marry
had
little
lamb

In [230]:
choices = ['pizza','pasta','salad','nachos']

In [238]:
for 앞에숫자, 아이템명 in enumerate(choices):
    print( 앞에숫자, 아이템명)

0 pizza
1 pasta
2 salad
3 nachos

In [234]:
enumerate(choices)

<enumerate object at 0x0000025ED7ECC750>

In [ ]:
float()